.container {
  width: 95vw;
  margin: 1rem auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 50vw;
  }
}

.myRooms {
  padding: 1rem;
}

.profileContainer {
  margin: 1rem auto;
}

.profile {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile img {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border: 5px solid var(--green-light);
}

.profile h1 {
  margin: 1rem 0 2rem;
}

.profile button {
  padding: 0.75rem 2rem;
  font-size: 1.15rem;
  border-radius: 999em;
  background-color: var(--green-light);
  color: var(--white);
  outline: none;
  border: none;
  cursor: pointer;
}
