.navbarContainer {
  width: 100%;
  background-color: var(--navbar-background-color);
  /* box-shadow: 0 1px 2px 0 rgb(148 150 159 / 30%); */
}

.navbar {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
}

.navbar .logo {
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions span {
  display: inline-block;
  padding: 0 0.5rem;
  cursor: pointer;
}

.actions span img {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}
