.chatRoomContainer {
  width: 95vw;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}

.chatRoomDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 200px;
  height: 70px;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  padding-top: 1rem;
}

.chatRoomDescription .topic {
  width: 75%;
  word-wrap: break-word;
  padding-right: 0.5rem;
  height: 100%;
  overflow-y: hidden;
}

.chatRoomDescription .actions {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 25%;
}

.chatRoomDescription .actions span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-color: var(--pink-peach);
  cursor: pointer;
}

.chatRoomMessages {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}
