.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: var(--card-background-color);
  color: var(--primary-color);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card .topic {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.card .owner {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.card .action {
  display: flex;
  align-items: center;
  align-self: center;
  padding: 0.5rem 1rem;
  background-color: var(--green-dark);
  color: var(--white);
  border-radius: 999em;
  cursor: pointer;
}

.card .action span {
  display: inline-block;
  margin-right: 0.5rem;
}
