* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --message-color: #fff;
  --message-sender: #cfff91;
  --message-background-color: #353434;
  --background-color: #191b1c;
  --white: #fff;
  --gray: #949496;
  --green-light: #7abb27;
  --green-dark: #1a2d01;
  --scrollbar-thumb: #9b9b9b;
  --scrollbar-thumb-hover: #7c7a7a;
}

::-webkit-scrollbar {
  height: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  margin: 0;
  color: var(--white);
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
